$primary: #234356;
$secondary: #ce8c77;
$darkenPrimary: #162d40;

html {
  position: relative;
  min-height: 100%;
}

.underline {
  color: $secondary;
}

.body-text {
  font-size: 1rem;
  line-height: 1.7rem;
}

body {
  margin: 0;
  padding: 0;
  color: #171e29;
  /* line-height: 1.5; */
  font-family: "Lato";
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind";
  font-weight: 300;
  color: #0b101d;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.btn {
  //   margin-top: 20px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: $darkenPrimary;
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
}

.btn-primary {
  background-color: $primary;
  color: white;
  text-decoration: none;
}

.btn-secondary {
  background-color: $primary;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.text-thin {
  font-weight: 300;
}

nav a {
  font-family: "Lato";
  font-size: 1rem;
  color: $primary;
  text-decoration: none;
  margin-left: 10px;
  // text-transform: uppercase;
  font-weight: 400;
  padding: 0.3rem 0.75rem;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  &:after {
    -webkit-transform: scaleX(0.0001);
    -ms-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
  }
  &:hover {
    border-bottom: 2px solid $secondary;
    color: $secondary;
  }
  &:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}

nav a.active--exact,
a.active__link {
  color: $secondary;
}
