backend:
  name: github
  repo: JeromeDesseaux/skuld2

media_folder: "src/assets/uploads"
public_folder: "/uploads"

collections:
  - name: "articles"
    label: "Articles"
    folder: "articles"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Abstract", name: "abstract", widget: "string" }
      - {
          label: "Author",
          name: "author",
          widget: "string",
          default: "Jérôme Desseaux",
        }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Date", name: "date", widget: "date" }
      - { label: "Body", name: "body", widget: "markdown" }
